:root{
    font-size: 62.5%;   /* 1 rem = 16px*/
    --primary-color:hsl(281, 70%, 58%);
    --paragraph: hsla(210, 9%, 31%);
    --headline: hsl(210, 11%, 15%);
}

body{
    text-align: center;
    font-family: 'DM Sans';
    font-size: 1.6rem;
}
h4{
  font-size: 1.4rem;
  color:var(--primary-color);	
}
h1 {
    font-size: 3.4rem;
    color: var (--headline);
    line-height: 130%;
}

p{
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph)
}
button{
    background: var(--primary-color);
    border: none;
    border-radius: 0.8rem;

}
