*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;   /* 1 rem = 16px*/
    --primary-color:hsl(281, 70%, 58%);
    --paragraph: hsla(210, 9%, 31%);
    --headline: hsl(210, 11%, 15%);
}

body{
    font-family: 'DM Sans';
    font-size: 1.6rem;
    text-align: center;

}
header{
    width: 37.5rem;
    margin-top: 4.1rem;
    margin-right:auto ;
    margin-left: auto;
    
}

h4{
  font-size: 1.4rem;
  color:var(--primary-color);	
  margin-bottom: 1.6rem;
}
h1 {
    font-size: 3.4rem;
    color: var (--headline);
    line-height: 130%;
    margin-bottom: 2.4rem;
}

p{
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph);
    margin-bottom: 3.2;
    
}
button{
    background: var(--primary-color);
    border: none;
    border-radius: 4rem;
    margin-bottom: 6rem;
    height: 6.2rem;
    width: 26.3rem;
    
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin-right: auto;
    margin-left: auto;

}
